<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzF8cSu2DwF6ZL8XJnU-uUMhLVu6-EIhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>225737711555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocCounter</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ba488</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ba488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225737711555:ios:6edbad3ce8506452dee776</string>
</dict>
</plist>